body {
    color: #000;
    font-size: 17px;
    font-family: Montserrat, Arial, sans-serif;
    background-color: #f5f7fa;
    color: #fff;
}
body, p {
    margin: 0;
    padding: 0;
}

p {
    color: #fff;
}
a, button, div, h1, h2, h3, img, li, nav, p, section, span, ul {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
li, nav, ul {
    list-style-type: none;
}
section {
    margin: 60px 0;
}
img {
    display: block;
    width: 100%}
h1, h2, h3 {
    color: #000;
    font-family: Open Sans, Arial, sans-serif;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 60px;
}
.br {
    display: block;
}

a:hover, button:hover {
    cursor: pointer;
}
.btn {
    border: none;
    list-style-type: none;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 20px;
    color: #fff;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 500;
    width: 280px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    display: block;
    box-shadow: 0px 0px 18px -6px #ff4e4e;  
}
.container {
    width: 1180px;
    margin: 0 auto;
}
:focus {
    border: none;
    outline: none;
}
:after, :before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
button {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.gradient {
    background: #e3ff73;
    background: -o-linear-gradient(315deg, #e3ff73 0, #e27c39 100%);
    background: linear-gradient(135deg, #e3ff73, #e27c39);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3ff73", endColorstr="#e27c39", GradientType=1);
}
.gradient-action {
    background: -o-linear-gradient(314deg, #ff3434, rgba(255, 185, 54, .870588));
    background: linear-gradient(136deg, #ff3434, rgba(255, 185, 54, .870588));
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}
.df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navigation {
    padding: 4px 0;
    top: 0;
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    z-index: 99;
    background-color: #fff;
}
.nav-active {
    background-color: #1e1338;
}
.nav-active * {
    color: #fff!important;
}
.menu-dell {
    display: block;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.menu-dell li {
    color: inherit;
}
.menu-dell li a:hover {
    background-color: hsla(0, 0%, 78%, .25);
    border-radius: 7px;
}
.menu-dell li a {
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    padding: 5px 10px;
    margin: 0 3px;
    font-weight: inherit;
    display: block;
    color: inherit;
    font-size: 1.1em;
    text-decoration: none;
}
.menu-dell li p {
    color: inherit;
}
.menu-dell .menu-contact:hover {
    background-color: rgba(0, 0, 0, 0);
}
.menu-dell .menu-contact {
    margin-left: auto;
    text-align: center;
    font-size: 11px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}
.menu-dell .menu-contact .shipping {
    text-align: left;
    margin-right: 50px;
}
.menu-dell .menu-contact .df {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.menu-contact-icons {
    margin-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu-contact-icons a {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 100%}
.menu-contact-icons .instagram {
    background-image: url(../img/instagram.svg);
}
.menu-contact-icons .telegram {
    background-image: url(../img/telegram.svg);
}
.menu-contact-icons .viber {
    background-image: url(../img/viber.svg);
}
.info {
    background-image: url(../img/photo.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 90vh;
    padding-top: 100px;
    margin: 0 0 90px;
    color: #fff;
    position: relative;

}
.info * {
    z-index: 2;
}
.info:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(0, 0, 0, .47);
}
.info .lay, .info:before {
    display: block;
    width: 100%;
    height: 100%}
.info .lay {
    padding: 100px 0 0;
    background: rgba(74, 74, 74, .5);
}
.info .btn {
    position: relative;
    z-index: 2;
    /* margin: 125px auto 0px auto; */
    margin-top: 120px;
    width: 100%;
}
.info .btn-st{
    width: 290px;

}
.info .btn-sale{
    text-align: center;
    position: relative;
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
.info .info-title {
    font-size: 44px;
    display: inline-block;
    padding: 0 0 10px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}
.info .info-texts {
    font-weight: 500;
    position: relative;
    width: 100%}
.info .info-texts-paragraph {
    font-weight: 600;
    line-height: 25px;}
.info .info-texts-paragraph-active {
    font-size: 25px;
    color: #a47eff;
}
.layout-info-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.layout-info-title .layout-star {
    position: relative;
    right: 0;
    top: 0;
}
.layout-info-title .star {
    position: absolute;
    right: -40px;
    top: 60px;
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    z-index: 0;
    background-image: url(../img/star.png);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.shm-title {
    font-size: 300px;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -800px;
    right: 0;
    font-weight: 900;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    z-index: -1;
    color: rgba(67, 47, 123, .6);
}
.btn-details {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 80px;
    background-color: #fff;
    padding: 0;
    position: relative;
}
.btn-details span {
    position: absolute;
    left: 50%;
    top: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lh-25 {
    line-height: 25px;
}
.about {
    margin: 60px 0 140px;
}
.about .about-info{
    color: #000;
    text-align: center;
    width: 88%;
    margin: 0 auto 30px auto;
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
}


.designs{
    padding: 60px 0px;
}

.designs h2{
    margin-bottom: 32px;
}
.layout-about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.layout-about-info-text, .layout-about-info video {
    width: 45%}
.layout-about-info .about-info {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #000;
}
.layout-about-info .about-info .about-title {
    color: inherith;
}
.service-title {
    margin-bottom: 10px;
}
.layout-service-block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.layout-service-block, .layout-service-block .service-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout-service-block .service-block {
    margin: 7px;
    padding: 30px;
    color: #fff;
    border-radius: 15px;
    height: auto;
    text-align: left;
    margin: 18px 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.04);

    width: 100%}
    .layout-service-block .service-block:nth-child(1) {
    box-shadow: 0px 0px 15px 8px #e4e4ff;
    margin-top: 0px;
}
    .layout-service-block .service-block:nth-child(2) {
    box-shadow: 0px 0px 15px 8px rgb(255, 223, 223);
   
    }
    .layout-service-block .service-block:nth-child(3) {
    box-shadow: 0px 0px 15px 8px  #defcde;
        
    }
.layout-service-block .service-block p {
    color: #000;
    font-size: .9em;
    margin-left: 15px;
    line-height: 19px;
}
.layout-service-block .service-block h3 {
    font-size: 19px;
    text-align: inherit;
    width: 100%;
    border: none;
    margin-bottom: 10px;
}
.layout-service-block .service-block .svg-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
}
.layout-service-block .service-block:nth-child(2) .svg-icon {
    width: 50px;
}
.layout-service-block .service-block:nth-child(2):before {
    border-radius: 66% 34% 47% 53%/34% 12% 88% 66%}
.layout-service-block .service-block:nth-child(3):before {
    border-radius: 35% 65% 67% 33%/66% 35% 65% 34%}
.layout-designs-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.layout-designs-block .designs-block {
    width: 301px;
    margin: 20px 10px;
    background-color: #fff;
    box-sizing: content-box;
    padding: 25px 25px 25px 25px;
    box-shadow: 0px 0px 14px -3px #d8d8d8;
}
.layout-designs-block .designs-block-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    width: inherit;
    height: inherit;
    display: block;
    overflow: hidden;
    position: relative;
}
.layout-designs-block .designs-block-frame:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    border: 13px solid #201e1e;
    position: absolute;
    left: 0;
    top: 0;
}
.layout-designs-block .designs-block-frame:before {
    content: " ";
    display: block;
    background: url(../img/SHM.png);
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    left: 13px;
    top: 13px;
    width: 100%;
    height: 100%;
}
.layout-designs-block .designs-block-img {
    margin: 0 auto;
    display: block;
}
.layout-designs-block .designs-block-bottom {
    font-size: 16px;
    color: #000;
}
.layout-designs-block .designs-block-bottom-name {
    margin: 10px 0;
    font-size: 1.1em;
    color: inherit;
}
.layout-designs-block .designs-block-bottom-price {
    color: inherit;
    font-weight: 700;
    font-size: 22px;
    margin: 0px 10px 10px 0px;
    font-size: 1.2em;
}
.layout-designs-block .designs-block-bottom-price-sell{
    font-weight: 700;
    
    text-decoration: line-through;
    font-size: 13px;
    color: #5b5b5b;
    margin-left: auto;
    width: 135px;
    margin: 0px 0px 0px auto;
}
.layout-designs-block .designs-block-bottom-paragraph {
    color: inherit;
    height: 57px;
    margin-bottom: 10px;
}
.layout-designs-block .designs-block-bottom-btn {
    background-color: #ff3434;
    margin: 0 auto;
    transition: all .2s ease;
}
.layout-designs-block .designs-block-bottom-btn:hover{
    transform: scale(1.02);
}

.rotating-text {
    font-size: 30px;
    color: #fff;
    font-family: Montserrat;
}
.rotating-text p {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.rotating-text p .word {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    margin-left: 8px;
}
.rotating-text p .word .letter {
    -webkit-transform-origin: center center 25px;
    -ms-transform-origin: center center 25px;
    transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: .32s cubic-bezier(.6, 0, .7, .2);
    -o-transition: .32s cubic-bezier(.6, 0, .7, .2);
    transition: .32s cubic-bezier(.6, 0, .7, .2);
}
.rotating-text p .word .letter.in {
    -webkit-transition: .38s ease;
    -o-transition: .38s ease;
    transition: .38s ease;
}
.rotating-text p .word .letter.behind {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tabs {
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 14px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 14px -2px rgba(0, 0, 0, .5);
}
.tab, .tabs {
    overflow: hidden;
}
.tab {
    width: 100%;
    color: #000;
}
.tab-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    font-weight: 700;
    cursor: pointer;
}
.tab-label:hover {
    background: #150f25;
    background: #ff2020;
    color: #fff;
}
.tab-label:after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
}
.tab-content, .tab-label:after {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #101839;
    background: #fff;
    line-height: 22px;
    font-size: 15px;
}
.tab-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1em;
    font-size: .75em;
    background: #101839;
    cursor: pointer;
}
.tab-close:hover {
    background: #150f25;
}
input:checked+.tab-label {
    color: #fff;
    background: -o-linear-gradient(314deg, #ff3434, rgba(255, 185, 54, .970588));
    background: linear-gradient(136deg, #ff3434, rgba(255, 185, 54, .970588));
    background-size: 400% 400%;
    /* -webkit-animation: AnimationName 3s ease infinite; */
    /* animation: AnimationName 3s ease infinite; */
}
@-webkit-keyframes AnimationName {
    0% {
    background-position: 0 7%}
50% {
    background-position: 100% 94%}
to {
    background-position: 0 7%}
}@keyframes AnimationName {
    0% {
    background-position: 0 7%}
50% {
    background-position: 100% 94%}
to {
    background-position: 0 7%}
}input:checked+.tab-label:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
    
}
.menu {
    display: none;
}
.overflow-h {
    overflow: hidden;
}
.pdf {
    height: 401px;
    width: 100%;
    display: block;
    font-size: 120px;
    color: #ff3434;
    text-align: center;
    line-height: 401px;
}


.main-cart{
    position: fixed;
    right: 20px;
    top: 20px;
    transition: 1s ease;

}

.main-cart-bg{
    display: block;
    width: 60px;
    height: 60px;
    background: url('../img/shopping-bag.svg');
    background-repeat: no-repeat;
    position: relative;
    transition: 1s ease;
}
#main-cart-count{
    background-color: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-cart-animation{
    animation: cart-animation 1.5s ease infinite;
    animation-iteration-count: 6;
}
@keyframes cart-animation {
    0% {
        top: 60px;
    }
    50% {
        top: 40px;
    }
    to {
        top: 60px;
    }
}
#successful-order{
    color: red;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(79, 255, 93, 0.272);
    z-index: 99;
    display: table;vertical-align: middle;
  
}
#successful-order p{
    text-align: center;
}
.cart-status-order{
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 11px;
    background-color: rgb(255 85 85 / 29%);
    padding: 2px;
    border-radius: 2px;
    cursor: help;
}
.cart-status-order-done{
    background-color: rgba(85, 255, 96, 0.293);
}
.dn{
    display: none !important;
}
.cart .form > h3{
    color: #000;
    margin: 15px 0px 0px 0px;
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
}
#cart-order-check{
    padding: 50px 0px;
}
.service-block-paragraph a{
    color: #000;
}
.layout-service-block .service-block > .df{
    align-items: center;
}